<turbo-frame id="<%= dom_id(note) %>">
  <%= form_with(model: note, data: { turbo: true }) do |form| %>
    <% if note.errors.any? %>
      <div>
        <h2><%= pluralize(note.errors.count, "error") %> prevented this note from being saved:</h2>
        <ul>
          <% note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</turbo-frame>
